[submodule "Vendor/Reachability"]
	path = Vendor/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "Vendor/TDSlider"]
	path = Vendor/TDSlider
	url = https://github.com/tomdiggle/TDSlider.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/MBProgressHUD"]
	path = Vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
