[submodule "Vendor/Reachability"]
	path = Vendor/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "Vendor/TDSlider"]
	path = Vendor/TDSlider
	url = https://github.com/tomdiggle/TDSlider.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/MBProgressHUD"]
	path = Vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/gh-unit"]
	path = Vendor/gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "Vendor/AFDownloadRequestOperation"]
	path = Vendor/AFDownloadRequestOperation
	url = https://github.com/steipete/AFDownloadRequestOperation.git
